{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}<title>rss-bot</title>{% endblock %}
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link href="{% static 'favicon.ico' %}" rel="icon">
    </head>
    <body>
        {% include "navbar.html" %}
        <br />
        <div class="container">
            {% for message in messages %}
                <div class="alert alert-dismissible {{ message.tags }}" role="alert">
                    <div>{{ message | safe }}</div>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}
            <main>
                {% block content %}<!-- default content -->{% endblock %}
            </main>
            <script src="{% static 'bootstrap.min.js' %}"></script>
        </div>
    </body>
</html>
