<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'webhooks' %}">Webhooks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'feeds' %}">Feeds</a>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2"
                   type="search"
                   placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>
