{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}<title>Add webhook</title>{% endblock %}
{% block content %}
    <h1>Add webhook</h1>
    {% crispy form %}
    <h2>Current webhooks</h2>
    <p>Here are the current webhooks:</p>
    {% if webhooks|length == 0 %}<p>No webhooks found.</p>{% endif %}
    {% for webhook in webhooks %}
        <p>
            Name: {{ webhook.name }}
            <br />
            URL: {{ webhook.url }}
            <form action="{% url 'toggle_webhook' %}">
                <input type="hidden" name="webhook_id" value="{{ webhook.pk }}" />
                <button type="submit" class="btn btn-danger">Delete {{ webhook.name|default:"webhook" }}</button>
            </form>
        </p>
    {% endfor %}
    <h2>Deleted webhooks</h2>
    <p>Here are the deleted webhooks:</p>
    {% if deleted_webhooks|length == 0 %}<p>No deleted webhooks found.</p>{% endif %}
    {% for webhook in deleted_webhooks %}
        <p>
            Name: {{ webhook.name }}
            <br />
            URL: {{ webhook.url }}
            <form action="{% url 'toggle_webhook' %}">
                <input type="hidden" name="webhook_id" value="{{ webhook.pk }}" />
                <button type="submit" class="btn btn-success">Undelete {{ webhook.name|default:"webhook" }}</button>
            </form>
        </p>
    {% endfor %}
{% endblock %}
