{% extends "base.html" %}
{% block title %} | Add new feed{% endblock %}
{% block content %}
    {# Home / Add #}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add</li>
        </ol>
    </nav>

    <div class="p-2 mb-2 border border-dark rounded">
        <form action="/add" method="post">
            {# Feed URL #}
            <div class="row mb-3">
                <label for="feed_url" class="col-sm-2 col-form-label">Feed URL</label>
                <div class="col-sm-10">
                    <input name="feed_url" type="text" class="form-control" id="feed_url"
                           placeholder="https://www.reddit.com/r/FreeGameFindings.rss">
                </div>
            </div>

            {# Webhook dropdown #}
            <div class="row mb-3">
                <label for="webhook_dropdown" class="col-sm-2">Which webhook should we send entries to?</label>
                <div class="col-sm-10">
                    <select class="col-auto form-select" id="webhook_dropdown" name="webhook_dropdown">
                        <option selected>Choose webhook...</option>
                        {% for hook in webhooks %}
                            <option value="{{ hook.name }}">{{ hook.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-text">You can add more feeds in the config file.</div>
            </div>

            {# Submit button #}
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Add feed</button>
            </div>

        </form>
    </div>
{% endblock %}