{% extends "base.html" %}
{% block title %} | Blacklist{% endblock %}
{% block content %}
    <div class="p-2 border border-dark">
        <form action="/blacklist" method="post">
            <!-- Feed URL -->
            <div class="row pb-2">

                <div class="col-sm-12">
                    <div class="form-text">
                        <ul class="list-inline">
                            <li>Comma separated list of words to blacklist. If a word is found in the
                                corresponding blacklists, the feed will not be sent.
                            </li>
                            <li>Whitelist always takes precedence over blacklist. Leave empty to disable.</li>
                            <li>Words are case-insensitive. No spaces should be used before or after the comma.</li>

                            <li>
                                Correct:
                                <code>
                                    primogem,events,gameplay preview,special program
                                </code>
                            </li>
                            <li>
                                Wrong:
                                <code>
                                    primogem, events, gameplay preview, special program
                                </code>
                            </li>
                        </ul>

                    </div>
                    <label for="blacklist_title" class="col-sm-6 col-form-label">Blacklist - Title</label>
                    <input name="blacklist_title" type="text" class="form-control bg-dark border-dark text-muted"
                           id="blacklist_title" value="{% if whitelist_title %}{{ whitelist_title }}{% endif %}">

                    <label for="blacklist_summary" class="col-sm-6 col-form-label">Blacklist - Summary</label>
                    <input name="blacklist_summary" type="text" class="form-control bg-dark border-dark text-muted"
                           id="blacklist_summary" value="{% if blacklist_summary %}{{ blacklist_summary }}{% endif %}">

                    <label for="blacklist_content" class="col-sm-6 col-form-label">Blacklist - Content</label>
                    <input name="blacklist_content" type="text" class="form-control bg-dark border-dark text-muted"
                           id="blacklist_content" value="{% if blacklist_content %}{{ blacklist_content }}{% endif %}">

                </div>
            </div>

            <!-- Add a hidden feed_url field to the form -->
            <input type="hidden" name="feed_url" value="{{ feed.url }}">

            <!-- Submit button -->
            <div class="d-md-flex">
                <button class="btn btn-dark btn-sm">Update blacklist</button>
            </div>
        </form>
    </div>
{% endblock %}