{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
    <!-- List all feeds -->
    {% for tag in tags %}
        {{ tag }}
    {% endfor %}
    <ul>
        <!-- Check if any feeds -->
        {% if feeds %}
            {% for feed in feeds %}
                <p><a class="text-muted" href="/feed/{{ feed.url }}">{{ feed.url }}</a></p>
                {% if feed.last_exception %}
                    <li class="text-danger">
                        Last exception: {{ feed.last_exception.type_name }}: {{ feed.last_exception.value_str }}
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No feeds yet. Add one <a class="text-muted" href="/add">here</a>.</p>
        {% endif %}
    </ul>


    <!-- Feed stats -->
    <hr>
    <ul>
        <li>
            <p>
                {{ feed_count.total }} feeds
                {% if feed_count.broken %}
                    - {{ feed_count.broken }} broken
                {% endif %}
                {% if feed_count.total != feed_count.updates_enabled %}
                    - {{ feed_count.updates_enabled }} enabled
                {% endif %}
            </p>
        </li>
    </ul>
    <!-- Feed entries stats -->
    <ul>
        <li>
            <p>{{ entry_count.total }} entries total</p>
            {% if entry_count.read != entry_count.total %}
                <p>{{ entry_count.total - entry_count.read }} unread entries</p>
            {% endif %}
            {% if entry_count.important %}
                <p>Important: {{ entry_count.important }} entries</p>
            {% endif %}
            {% if entry_count.has_enclosures %}
                <p>Has enclosures: {{ entry_count.has_enclosures }} entries</p>
            {% endif %}
            <p>1 Month average: {{ entry_count.averages[0]|round(2) }} entries per day</p>
            <p>3 Months average: {{ entry_count.averages[1]|round(2) }} entries per day</p>
            <p>12 Months average: {{ entry_count.averages[2]|round(2) }} entries per day</p>
        </li>
    </ul>

{% endblock %}