{% extends "base.html" %}
{% block title %}
    | Webhooks
{% endblock title %}
{% block content %}
    {# List all available webhooks #}
    <h3>Available webhooks</h3>
    <ul class="list-inline">
        <a class="btn btn-primary" href="/add_webhook">Add new</a>
        <br/>
        {% for hook in hooks_with_data %}
            <div class="p-2 border border-dark text-muted">
                <img src="https://cdn.discordapp.com/avatars/{{ hook.id }}/{{ hook.avatar }}.webp"
                     class="img-thumbnail">
                <h3>{{ hook.custom_name }}</h3>
                <li>
                    <strong>Name</strong>: {{ hook.name }}
                </li>
                <li>
                    <strong>Channel ID</strong>: {{ hook.channel_id }}
                </li>
                <li>
                    <strong>Guild ID</strong>: {{ hook.guild_id }}
                </li>
                <li>
                    <strong>Webhook ID</strong>: {{ hook.id }}
                </li>
                <li>
                    <strong>Webhook token</strong>: {{ hook.token }}
                </li>
                <li>
                    <strong>Webhook type</strong>: {{ hook.type }}
                </li>
                <li>
                    <strong>Webhook URL</strong>: <a href="{{ hook.url }}">{{ hook.url }}</a>
                </li>
                <br/>
                <form action="/delete_webhook" method="post">
                    <input type="hidden" name="webhook_url" value="{{- hook.url -}}"/>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
            <br/>
        {% endfor %}
    </ul>
{% endblock content %}
