{% extends "base.html" %}
{% block title %}
    | Add new webhook
{% endblock title %}
{% block content %}
    <div class="p-2 border border-dark">
        <form action="/add_webhook" method="post">
            {# Webhook name #}
            <div class="row pb-2">
                <label for="webhook_name" class="col-sm-2 col-form-label">Webhook Name</label>
                <div class="col-sm-10">
                    <input name="webhook_name"
                           type="text"
                           class="form-control bg-dark border-dark text-muted"
                           id="webhook_name"
                           placeholder="TheLovinator #RSS"/>
                </div>
            </div>
            {# Webhook URL #}
            <div class="row pb-2">
                <label for="webhook_url" class="col-sm-2 col-form-label">Webhook URL</label>
                <div class="col-sm-10">
                    <input name="webhook_url"
                           type="text"
                           class="form-control bg-dark border-dark text-muted"
                           id="webhook_url"
                           placeholder="https://discord.com/api/webhooks/1011224189471124054/CQMa4hJN4gz..."/>
                </div>
            </div>
            {# Submit button #}
            <div class="d-md-flex">
                <button class="btn btn-dark btn-sm">Add webhook</button>
            </div>
        </form>
    </div>
{% endblock content %}
